.body{
  margin: 0px;
  padding: 0px;
}
.container{
    width : 1200px;
    margin : auto;
  }
  .col-reg{
    height : auto;
    padding : 10px;
    border : solid 1px red;
    text-align : right
  }
  .header{
    height : auto;
    background-color: rgb(241, 219, 117);
    text-align : center;
  }
  .nav{
    width: 15%;
    height: auto;
    float: left;
    background-color: rgb(255, 206, 222);
  }
  .nav ul{
    list-style-type: none;
    padding : 0px;
    margin: 0px;
  }
  .nav ul li{
    background-color: rgb(255, 255, 255);
    padding: 25px 10px 25px 10px;
    margin: 10px;
    text-align: center;
  }
  .homepage a{
    color: black;
    text-decoration: none;
  }
  .homepage img{
   float: left;
  }

  .gmm a span{
    background-color: orange;
    padding: 5px 5px;
    color: white;
  }
  .gmm a{
    text-decoration: none;
  } 
  .rs a span{
    background-color: green;
    padding: 5px 5px;
    color: white;
  }
  .rs a{
    text-decoration: none;
  }
  .kita a span{
    background-color: rgb(240, 155, 169);
    padding: 5px 5px;
    color: white;
  }
  .kita a{
    text-decoration: none;
  }
  .nititad a span{
    background-color: rgb(45, 152, 223);
    padding: 5px 5px;
    color: white;
  }
  .nititad a{
    text-decoration: none;
  }
  .homepage img{
    width: 52px;
    height: 52px;
  }
  .gmm img{
    width: 78px;
    height: 64px;
  }
  .rs img{
    width: 78px;
    height: 78px;
  }
  .kita img{
    width: 92px;
    height: 64px;
  }
  .nititad img{
    width: 92px;
    height: 64px;
  }
  .content{
    width: 85%;
    float: right;
  }
  .content .padding-content{
    padding-left: 10px;
  }
.backhome{
  margin: 20px 0px 20px 0px;
}
  .footer{
    text-align: center;
    padding : 5px;
    background-color: yellow;
    border : solid 1px red;
  }
  .clear{
    clear: both;
  }
  
  /*H Page*/
  .h-h1{
    color:#fcba03;
    text-align: center;
  }
  .hr{
    width: 30%;
    height: 5px;
    background-color: blue;
    align : left

  }
  /*Form Contact*/
